package {{.Package}}

import (
	"strings"
)

const Year = {{.Year}}
const Day  = {{.Day}}

// Part1 solves the first part of the puzzle.
func Part1(input string) int {
    return 0
}

// Part2 solves the second part of the puzzle.
func Part2(input string) int {
    return 0
}
